
.container-home-geral{
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://a.cdn-hotels.com/gdcs/production65/d66/14724f91-e713-45a4-89c2-b5aa6e7a9420.jpg");

}
.container-home{
  background: url('../../assets/recifeAntigo.png');
  background-size: contain;
  padding-right: 45%;

}
.container-header{
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: -5%;
  
}
#container-subheader-home{
  padding-bottom: 2%;
  padding-top: -5%;
}
#header-titulo{
  text-align: center;
  color: rgb(154, 0, 0);
  font-family:"Poppins";
  font-size:300%;

}
#logo{
  width: 150px;

}
